doctype
html
  head
    title DubsDot
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(href="css/main.css" rel="stylesheet", type="text/css")
    
  body
    img(src="img/dubsdot_logo.svg").logo
    section
      //- span list of sites
      ul
        li CSLabs Homepage
        li Docs
        li Print
        li Mirror
        li Fsuvius
        li Talks
        li Meeting Minutes
        li Project Updates
        li COSI Moodle
        li Sage
        li Search
      
    footer
      | Clarkson Open Source Institute
