doctype
html
	head
		title DubsDot
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(href="css/main.css" rel="stylesheet", type="text/css")
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="main.js")
	body
		header
			h1 Dubsdot
			button.toggleMenu
				i(class="fa fa-bars" onclick="toggleMobileMenu()")
			nav
				a(href="index.html") Home
				a(href="about.html") About
				a(href="contact.html") Contact
		nav.navMobile
			a(href="index.html") Home
			a(href="about.html") About
			a(href="contact.html") Contact
		include ./includes/links.pug
		footer
			a(href="http://cslabs.clarkson.edu") Clarkson Open Source Institute
