doctype
html
  head
    title DubsDot
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(href="css/main.css" rel="stylesheet", type="text/css")
    
  body
    img(src="img/dubsdot_logo.svg").logo
    section
      //- span list of sites
      h1 Main
      ul
        li
          a(href="http://cslabs.clarkson.edu") CSLabs Homepage
          p The root site for COSI & ITL
        li 
          a(href="http://docs.cslabs.clarkson.edu") Docs
          p COSI's Documentation Wiki
        li 
          a(href="http://print.cslabs.clarkson.edu") Print
          p The print service
        li 
          a(href="http://mirror.clarkson.edu") Mirror
          p FOSS Mirror
        li 
          a(href="http://talks.cslabs.clarkson.edu") Talks
          p Prep for Weekly Meetings
        li 
          a(href="http://cosi-lab.github.io/meeting-minutes") Meeting Minutes
          p  Archive of meeting minutes
        li 
          a(href="http://cosi-lab.github.io/project-updates") Project Updates
          p  Updates on things in COSI
      
    section
      h1 Misc.
      ul
        li 
          a(href="http://moodle.cslabs.clarkson.edu") COSI Moodle
          p  A Moodle site for COSI classes
        li 
          a(href="http://fsuvius.cslabs.clarkson.edu") Fsuvius
          p Fsu Bank
        li 
          a(href="http://sage.cslabs.clarkson.edu") Sage
          p Mathematics application
        li
          a(href="https://reddit.com/r/cosi") /r/cosi
          p COSI's Subreddit
          
    footer
      | Clarkson Open Source Institute
