section
	h1 Main
	ul
		li
			a(href="http://cslabs.clarkson.edu") CSLabs Homepage
			p The root site for COSI & ITL
		li
			a(href="http://docs.cslabs.clarkson.edu") Docs
			p COSI's Documentation Wiki
		li
			a(href="http://print.cslabs.clarkson.edu") Print
			p The print service
		li
			a(href="http://mirror.clarkson.edu") Mirror
			p FOSS Mirror
		li
			a(href="http://talks.cslabs.clarkson.edu") Talks
			p Prep for Weekly Meetings
		li
			a(href="http://cosi-lab.github.io/meeting-minutes") Meeting Minutes
			p Archive of Meeting Minutes
		li
			a(href="http://cosi-lab.github.io/project-updates") Project Updates
			p Updates on projects in COSI
		li
			a(href="https://github.com/COSI-Lab") Github/COSI-Lab
			p COSI's Github Organization
		li
			a(href="http://management.cslabs.clarkson.edu") Management
			p COSI Status Checker
section
	h1 Misc
	ul
		li
			a(href="http://moodle.cslabs.clarkson.edu") COSI Moodle
			p A Moodle site for COSI classes
		li
			a(href="http://fsuvius.cslabs.clarkson.edu") Fsuvius
			p FSU Bank
		li
			a(href="http://reddit.com/r/cosi") /r/COSI
			p COSI's subreddit
